USE [demo_db]
GO
/****** Object:  Table [dbo].[sga_bitacora_estudiante_admision]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_bitacora_estudiante_admision](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accion] [varchar](255) NOT NULL,
	[fecha_accion] [datetime] NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[estado] [int] NOT NULL,
	[estudiante_admision_m2o_id] [int] NOT NULL,
	[empleado_m2o_id] [int] NULL,
	[estado_proceso_m2o_id] [int] NULL,
 CONSTRAINT [PK_sga_bitacora_estudiante_admision] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_cat_estado_proceso]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_cat_estado_proceso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [int] NOT NULL,
	[nombre] [varchar](255) NULL,
	[nivel] [int] NOT NULL,
	[icono] [varchar](50) NULL,
	[estado] [int] NOT NULL,
	[proceso_m2o_id] [int] NOT NULL,
	[estado_id] [int] NULL,
 CONSTRAINT [PK_sga_cat_estado_procesos] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_cat_nacionalidad]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_cat_nacionalidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [int] NOT NULL,
	[nacionalidad] [varchar](255) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_sga_cat_nacionalidad] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_cat_rol]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_cat_rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [int] NOT NULL,
	[nombre] [varchar](1000) NULL,
	[descripcion] [varchar](max) NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_sga_cat_rol] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_configvar]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_configvar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [int] NOT NULL,
	[etiqueta] [varchar](1000) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_sga_configvar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_configvar_valor]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_configvar_valor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [int] NOT NULL,
	[valor] [varchar](max) NOT NULL,
	[valor_defecto] [varchar](max) NULL,
	[descripcion] [varchar](max) NULL,
	[estado] [int] NOT NULL,
	[configvar_m2o_id] [int] NOT NULL,
 CONSTRAINT [PK_sga_configvar_valor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_estudiante_admision]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_estudiante_admision](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[criterio_aprobacion_total] [int] NULL,
	[motivo_ingreso] [nvarchar](max) NULL,
	[fecha_registro] [datetime] NOT NULL,
	[observaciones] [varchar](max) NULL,
	[modalidad_ingreso] [int] NULL,
	[beca_propedeutico] [int] NULL,
	[beca_comedor] [int] NULL,
	[estado] [int] NOT NULL,
	[estudiante_m2o_id] [int] NOT NULL,
	[proceso_admision_m2o_id] [int] NULL,
	[estado_proceso_m2o_id] [int] NULL,
	[etapa_proceso_m2o_id] [int] NULL,
	[idgenerales] [int] NULL,
	[especifique] [varchar](255) NULL,
 CONSTRAINT [PK_sga_estudiante_admision_id] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_grupo_permiso]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_grupo_permiso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[llave] [varchar](1000) NOT NULL,
	[nombre] [varchar](1000) NOT NULL,
	[descripcion] [varchar](1000) NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_sga_grupo_permiso] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_nacionalidad_m2m_estudiante]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_nacionalidad_m2m_estudiante](
	[sga_estudiante_id] [int] NOT NULL,
	[sga_cat_nacionalidad_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_permiso]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_permiso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[llave] [varchar](1000) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](1000) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_sga_permiso] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_persona]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[primer_apellido] [nvarchar](255) NOT NULL,
	[segundo_apellido] [nvarchar](255) NULL,
	[nombre_completo] [nvarchar](255) NULL,
	[genero] [int] NULL,
	[numero_cvu] [varchar](255) NULL,
	[correo_electronico] [varchar](255) NULL,
	[tipo_persona] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[correo_institucional] [varchar](255) NULL,
 CONSTRAINT [PK_sga_persona] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_persona_sga_estudiante]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_persona_sga_estudiante](
	[folio_aspirante] [varchar](255) NULL,
	[matricula_alumno] [varchar](255) NULL,
	[numero_registro] [varchar](10) NULL,
	[fecha_registro_aspirante] [datetime] NULL,
	[curp] [varchar](18) NULL,
	[dni] [varchar](13) NULL,
	[rfc] [varchar](14) NULL,
	[fecha_nacimiento] [datetime] NULL,
	[registro_datos_biometricos] [int] NULL,
	[estado_estudiante] [int] NOT NULL,
	[estudiante_m2o_id] [int] NULL,
	[estado_civil_m2o_id] [int] NULL,
	[estado_r1_m2o_id] [int] NULL,
	[programa_m2o_id] [int] NULL,
	[id] [int] NOT NULL,
 CONSTRAINT [PK_sga_persona_sga_estudiante] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_usuario_m2m_grupo_permiso]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_usuario_m2m_grupo_permiso](
	[sga_grupo_permiso_id] [int] NULL,
	[sga_usuario_sistema_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_usuario_m2m_permiso]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_usuario_m2m_permiso](
	[sga_permiso_id] [int] NULL,
	[sga_usuario_sistema_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_usuario_m2m_rol]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_usuario_m2m_rol](
	[sga_cat_rol_id] [int] NULL,
	[sga_usuario_sistema_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sga_usuario_sistema]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sga_usuario_sistema](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](30) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[estado] [int] NOT NULL,
	[persona_m2o_id] [int] NOT NULL,
 CONSTRAINT [PK_sga_usuario_sistema] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 20/05/2024 05:15:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sga_bitacora_estudiante_admision]  WITH CHECK ADD  CONSTRAINT [FK_sga_estudinate_admision] FOREIGN KEY([estudiante_admision_m2o_id])
REFERENCES [dbo].[sga_estudiante_admision] ([id])
GO
ALTER TABLE [dbo].[sga_bitacora_estudiante_admision] CHECK CONSTRAINT [FK_sga_estudinate_admision]
GO
ALTER TABLE [dbo].[sga_estudiante_admision]  WITH CHECK ADD  CONSTRAINT [FK_sga_cat_estado_proceso_id] FOREIGN KEY([estado_proceso_m2o_id])
REFERENCES [dbo].[sga_cat_estado_proceso] ([id])
GO
ALTER TABLE [dbo].[sga_estudiante_admision] CHECK CONSTRAINT [FK_sga_cat_estado_proceso_id]
GO
ALTER TABLE [dbo].[sga_estudiante_admision]  WITH CHECK ADD  CONSTRAINT [FK_sga_persona_sga_estudiante_id] FOREIGN KEY([estudiante_m2o_id])
REFERENCES [dbo].[sga_persona_sga_estudiante] ([id])
GO
ALTER TABLE [dbo].[sga_estudiante_admision] CHECK CONSTRAINT [FK_sga_persona_sga_estudiante_id]
GO
ALTER TABLE [dbo].[sga_nacionalidad_m2m_estudiante]  WITH CHECK ADD  CONSTRAINT [FK_sga_cat_nacionalidad] FOREIGN KEY([sga_cat_nacionalidad_id])
REFERENCES [dbo].[sga_cat_nacionalidad] ([id])
GO
ALTER TABLE [dbo].[sga_nacionalidad_m2m_estudiante] CHECK CONSTRAINT [FK_sga_cat_nacionalidad]
GO
ALTER TABLE [dbo].[sga_usuario_m2m_grupo_permiso]  WITH CHECK ADD  CONSTRAINT [FK_sga_grupo_permiso] FOREIGN KEY([sga_grupo_permiso_id])
REFERENCES [dbo].[sga_grupo_permiso] ([id])
GO
ALTER TABLE [dbo].[sga_usuario_m2m_grupo_permiso] CHECK CONSTRAINT [FK_sga_grupo_permiso]
GO
ALTER TABLE [dbo].[sga_usuario_m2m_grupo_permiso]  WITH CHECK ADD  CONSTRAINT [FK_sga_usuario_sistema_1x] FOREIGN KEY([sga_usuario_sistema_id])
REFERENCES [dbo].[sga_usuario_sistema] ([id])
GO
ALTER TABLE [dbo].[sga_usuario_m2m_grupo_permiso] CHECK CONSTRAINT [FK_sga_usuario_sistema_1x]
GO
ALTER TABLE [dbo].[sga_usuario_m2m_permiso]  WITH CHECK ADD  CONSTRAINT [FK_sga_permiso] FOREIGN KEY([sga_permiso_id])
REFERENCES [dbo].[sga_permiso] ([id])
GO
ALTER TABLE [dbo].[sga_usuario_m2m_permiso] CHECK CONSTRAINT [FK_sga_permiso]
GO
ALTER TABLE [dbo].[sga_usuario_m2m_permiso]  WITH CHECK ADD  CONSTRAINT [FK_sga_usuario_sistema_2x] FOREIGN KEY([sga_usuario_sistema_id])
REFERENCES [dbo].[sga_usuario_sistema] ([id])
GO
ALTER TABLE [dbo].[sga_usuario_m2m_permiso] CHECK CONSTRAINT [FK_sga_usuario_sistema_2x]
GO
ALTER TABLE [dbo].[sga_usuario_m2m_rol]  WITH CHECK ADD  CONSTRAINT [FK_sga_cat_rol] FOREIGN KEY([sga_cat_rol_id])
REFERENCES [dbo].[sga_cat_rol] ([id])
GO
ALTER TABLE [dbo].[sga_usuario_m2m_rol] CHECK CONSTRAINT [FK_sga_cat_rol]
GO
ALTER TABLE [dbo].[sga_usuario_m2m_rol]  WITH CHECK ADD  CONSTRAINT [FK_sga_usuario_sistema] FOREIGN KEY([sga_usuario_sistema_id])
REFERENCES [dbo].[sga_usuario_sistema] ([id])
GO
ALTER TABLE [dbo].[sga_usuario_m2m_rol] CHECK CONSTRAINT [FK_sga_usuario_sistema]
GO
ALTER TABLE [dbo].[sga_usuario_sistema]  WITH CHECK ADD  CONSTRAINT [FK_sga_persona_id] FOREIGN KEY([persona_m2o_id])
REFERENCES [dbo].[sga_persona] ([id])
GO
ALTER TABLE [dbo].[sga_usuario_sistema] CHECK CONSTRAINT [FK_sga_persona_id]
GO
